@model IEnumerable<Rating.Models.content>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            image
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
            <td>

               <img src="@Html.DisplayFor(modelItem => item.source)"> 
            </td>
            </td>
            @if (Session["userId"] != null && Session["userId"].ToString() == item.authorId.ToString() || Session["isAdmin"] != null && Session["isAdmin"].ToString() == "true")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", "content", new { id = item.postId }, null) |
                    @Html.ActionLink("Details", "Details", "content", new { id = item.postId }, null) |
                    @Html.ActionLink("Delete", "Delete", "content", new { id = item.postId }, null)
                </td>

            }

        </tr>
    }

</table>
